@charset "utf-8";  
.main_image li {list-style-type:none;vertical-align:0} 
.main_image ul {list-style-type:none;vertical-align:0} 
.clear{height:0; overflow:hidden; clear:both}

/* main_image */
.main_visual{height:100%;overflow:hidden;position:relative;}
.main_image{height:100%;overflow:hidden;position:relative; margin-top:20px;}
.main_image ul{height:100%;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;height:100%;}
.main_image li img{display:block;width:300px;}
.main_image li a{display:block;width:100%;height:100%}
 