
@{ 
//------------------------------------------------------------------------------ 
//        Date  2018-05-29
//        Author  polltek.com   
//			 				For testing 
//        File  test1.cshtml  Page file 
//------------------------------------------------------------------------------
 
    ViewBag.Title = "Test page";
    Layout = "~/Views/Home/_main_layout.cshtml";
}

@using System.Data;
@section head{
  <style type="text/css"> 
    </style>
     
}

@section scripts{
    <script src="~/Areas/ViewJS/test1.js?v=@ViewBag.ts"></script>
     <script type="text/javascript">
       
      var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        km.model = JSON.parse(model_string);
    </script>
}
 
 
<div class="container" style="padding-top: 100px;">
    	
  
 
<script src="~/Scripts/jquery.tmpl.js"></script>
<script src="~/Scripts/jquery.tmplPlus.js"></script> 

<script id="template_MyCategory" type="text/x-jquery-tmpl">
	<table class="table_content"  cellpadding="3" cellspacing="0" border="0">
             <tr>
             <td class="td_title" >是否启用 </td>  
     					<td class="td_title" >创建人 </td>  
     					<td class="td_title" >创建日期 </td>  
     					<td class="td_title" >描述 </td>  
     					<td class="td_title" >类名 </td>  
     					<td class="td_title" >删除标志 </td>  
     					<td class="td_title" >编号 </td>  
     					<td class="td_title" >排序 </td>  
     					            </tr>
		{{each Table}}
				<tr> 
             <td   >{{= $value.active_flag}} </td>  
     					<td   >{{= $value.add_by}} </td>  
     					<td   >{{= $value.add_date}} </td>  
     					<td   >{{= $value.category_description}} </td>  
     					<td   >{{= $value.category_name}} </td>  
     					<td   >{{= $value.delete_flag}} </td>  
     					<td   >{{= $value.id}} </td>  
     					<td   >{{= $value.sort_number}} </td>  
     								</tr>
		{{/each}} 
	</table>
</script>
            
 <div id='detail_div_MyCategory'></div>

    	 
<div style='display:none'>
	
</div>
</div>
